<section class="row container-fluid d-flex justify-content sticky-top my-3">
  <div class="rounded bg-light p-3 mb-3">
    <div><h3>What's happening</h3></div>
    <div class="mb-3">
      <small class="text-muted">Programming · Trending</small>
      <p class="fs-6 fw-bold m-0">#MongoVsSequelize</p>
      <small class="text-muted">97.5K Tweets</small>
    </div>
    <div class="mb-3">
      <small class="text-muted">Entertainment · Trending</small>
      <p class="fs-6 fw-bold m-0">#StarWars</p>
      <small class="text-muted">97.5K Tweets</small>
    </div>
    <div class="mb-3">
      <small class="text-muted">News · Trending</small>
      <p class="fs-6 fw-bold m-0">#LifeInMars</p>
      <small class="text-muted">97.5K Tweets</small>
    </div>
  </div>
  <div class="rounded bg-light p-3">
    <h3 class="mb-3">Who to follow</h3>
    <div class="row mb-3">
      <div class="col-3 text-center">
        <img
          class="profileImage"
          src="https://media.idownloadblog.com/wp-content/uploads/2017/03/Twitter-new-2017-avatar-001.png"
          alt="Profile image"
        />
      </div>
      <div class="col-6 p-0">
        <p class="mb-0"><strong> Hack Academy</strong></p>
        <small class="text-muted">@HackAcadamy123</small>
      </div>
      <div class="col-3 p-0">
        <button type="button" class="btn bgTweeter rounded-pill mr-2">Follow</button>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-3 text-center">
        <img
          class="profileImage"
          src="https://media.idownloadblog.com/wp-content/uploads/2017/03/Twitter-new-2017-avatar-001.png"
          alt="Profile image"
        />
      </div>

      <div class="col-6 p-0">
        <p class="mb-0"><strong> Hack Academy</strong></p>
        <small class="text-muted">@HackAcadamy123</small>
      </div>
      <div class="col-3 p-0">
        <button type="button" class="btn bgTweeter rounded-pill mr-2">Follow</button>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-3 text-center">
        <img
          class="profileImage"
          src="https://media.idownloadblog.com/wp-content/uploads/2017/03/Twitter-new-2017-avatar-001.png"
          alt="Profile image"
        />
      </div>
      <div class="col-6 p-0">
        <p class="mb-0"><strong> Hack Academy</strong></p>
        <small class="text-muted">@HackAcadamy123</small>
      </div>
      <div class="col-3 p-0">
        <button type="button" class="btn bgTweeter rounded-pill mr-2">Follow</button>
      </div>
    </div>
  </div>
</section>
