<div class="col-sm-auto sticky-top vh-100">
  <div class="d-flex flex-column align-items-center sticky-top h-100">
    <a
      href="/"
      class="d-block p-3 link-primary text-decoration-none fs-2"
      title=""
      data-bs-toggle="tooltip"
      data-bs-placement="right"
      data-bs-original-title="Icon-only"
    >
      <i class="fa-brands fa-twitter"></i>
    </a>
    <ul class="nav nav-pills nav-flush flex-column mb-auto mx-auto text-center align-items-center">
      <li class="nav-item">
        <a
          href="/"
          class="d-block nav-link py-3 px-2 link-dark fs-3"
          title=""
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          data-bs-original-title="Home"
        >
          <i class="fa-solid fa-house"></i>
        </a>
      </li>
      <li>
        <a
          href="/usuarios/<%=locals.user.username%>"
          class="d-block nav-link py-3 px-2 link-dark fs-2"
          title=""
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          data-bs-original-title="Dashboard"
        >
          <i class="fa-regular fa-user"></i>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="d-block nav-link py-3 px-2"
          title=""
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          data-bs-original-title="Orders"
        >
          <a href="/" class="btn bgTweeter rounded-pill">Tweet</a>
        </a>
      </li>
    </ul>
    <a href="/auth/logout">
      <button class="btn btn-danger rounded-pill mb-3">Logout</button>
    </a>
  </div>
</div>
